body {
    font-family: Arial, sans-serif;
    background-color: #2318c5;
    margin: 0;
    padding: 20px;
}

h1, h2 {
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #25a9ae;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button, textarea {
    width: 100%;
    padding: 10px;
    background-color: #1737b8;
    color: white;
    border: none;
    cursor: pointer;
}
.txt_area {
    background: #dddddd;
    color: #131313;
    box-sizing: border-box;
    resize: vertical;
}

button:hover {
    background-color: #0b102b;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
}
.btnterm {
    display: inline;
    width: fit-content;
}
